{% extends 'base.html.twig' %}

{% block title %}Edit StockDivers{% endblock %}

{% block body %}
    <h1>Edit StockDivers</h1>

    {{ include('stock_divers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stock_divers_index') }}">back to list</a>

    {{ include('stock_divers/_delete_form.html.twig') }}
{% endblock %}
